h1 {
    font-family: arial;
    color: dimgray;
  }
  
  body {
    font-family: arial;
    margin: 30px;
  }
  
  canvas {
    height: 200px;
    border: 2px solid blue;
  }
  
  input {
    font-size: 14pt;
  }