.orangeback {
    background-color: orange;
  }
  .blueback {
    background-color: lightblue;  
    font-family: Georgia;
  }
  .fuchsiaback {
    background-color: fuchsia;
    font-family: arial;
  }
  
  h1 {
    font-family: sans-serif;
    color: dimgray;
  }